    <!-- Footer -->
    <footer class="py-5" style="background-color: #6b7b8c;">
      <p class="m-0 text-center text-white">Copyright &copy; MoveIt Group 2020</p>
    </footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
