<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Create New Message</title>

  <%- include('partials/_links') %>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <main>
    <div class="container">
      <div class="text-center">
        <h1>Send Message</h1>
      </div>
      <form action="/message/<%= item_id %>" method="POST">
        <div class="form-group">
          <h5><label for="inputDescription">Message</label></h5>
          <textarea class="form-control" placeholder="Enter message..." rows="5" name="content"></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-lg btn-primary">Send</button>
        </div>
      </form>
    </div>
  </main>

  <!-- Footer & Bootstrap core JavaScript-->
  <%- include('partials/_footer') %>

</body>

</html>
