<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="../css/shop-homepage.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </head>
  <header>
    <%- include('partials/_header') %>
  </header>
  <body>
    <h1>Need to be deleted later</h1>
    <h1>Create New Listing</h1>
    <form action="/new" method="POST">
      <div class="form-row">
        <div class="form-group col-md-6">

          <input type="text" class="form-control" id="inputname4" placeholder="Name" name="name">
        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="Price4" placeholder="Price" name="price">
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="inputImage" placeholder="Image_url" name="photo_url">
      </div>

        <div class="form-group col-md-4">
          <label for="inputcondition">Condition</label>
          <select id="inputcondition" class="form-control" name="condition">
            <option selected>Choose...</option>
            <option>Used</option>
            <option>New</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputDescription">Description</label>
          <textarea placeholder="Description" name="description" cols="30" rows="10" name="description"></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </body>
</html>
