<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Status Message</title>
</head>
<body>
<h1><%= message %></h1>
<script>
  setTimeout(()=>{
    window.location.replace("<%= nextPage %>");
  },3000);
</script>
</body>
</html>
