// See: https://sass-lang.com/

body {
  background-color: #eee;
  height: 100vh;

  .container {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  h1 {
    color: #244751;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
