#user-messages {
  .messages-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;

    div.card.border-primary.mb-3 {
      margin: 1rem;
      width: 20rem;
    }
  }
}
